#root,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding: 8px;
  display: flex;
  background-color: #ddd;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header * {
  margin: 8px;
}

.header button {
  align-self: flex-end;
  font-size: 42px;
}

.header .points {
  font-size: 32px;
  font-weight: bold;
}

.header .status-true {
  font-size: 32px;
  font-weight: bold;
  color: green;
}

.header .status-false {
  font-size: 32px;
  font-weight: bold;
  color: red;
}

.addition {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 300px;
  /* border: 1px solid #000; */
}

.addition button {
  font-size: 32px;
  padding: 16px;
  margin: 40px 8px 8px 8px;
  width: 100%;
  background-color: green;
  color: white;
  font-weight: bolder;
}

.addition button:hover {
  background-color: greenyellow;
  cursor: pointer;
}

.digit {
  font-size: 60px;
  padding: 24px;
  width: 30px;
  /* border: 1px solid #000; */
}

.number {
  padding: 8px;
}

.symbol {
  font-size: 72px;
}
.row {
  display: flex;
  flex-direction: row;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: black;
}

.input {
  width: 75px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

.input:last-child {
  margin-right: 8px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}